body {
    background-image: url(bck.jpg);
    min-height: 100vh; /* O corpo ocupa toda a altura da janela */
    display: flex;
    flex-direction: column;
}

.navbar {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(bck.jpg);

}

.display-3 {
    color: white !important;
    opacity: 95%;
}

.nav-link {
        color: white !important;
        opacity: 95%;
}
.logo {
    width: 140px;
}

.form-container {
    max-width: 600px; /* Largura máxima do formulário */
    margin: auto; /* Centraliza o formulário */
    background-color: rgb(62, 75, 84); /* Cor de fundo do formulário */
    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas */
    color: rgba(255, 255, 255, 0.04); /* Texto branco */
}
.form-label, .form-control, .form-select {
    color: rgb(0, 0, 0); /* Texto dos labels e campos brancos */
}
.form-control {
    background-color: rgba(255, 255, 255, 0.201); /* Cor de fundo dos campos de entrada */
    border: 1px solid #fff; /* Borda branca */
}

h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    opacity: 90%;
}

.form-container{
    padding-bottom: 30px;
}

legend{
    color: #fff;
    font-size: 20px;
}